:root {
    --sombra-texto: text-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
}

header {
    width: 100%;
    height: 4rem;
    background-color: var(--cor-fundo-primaria);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 2.5rem 0rem 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.4rem 1.8rem 0rem;

    nav ul {
        display: flex;

        li {
            font-size: 1rem;
            margin-left: 1.4rem;
            list-style-type: none;
            font-weight: 400;
            color: #333333;
            cursor: pointer;
        }
    }
}

.hero {
    position: relative;
    width: 100%;
    height: 40rem;
    background-image: url("../img/hero-800.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    h1,
    p,
    button {
        position: relative;
    }

    h1 {
        font-size: 3rem;
        max-width: 60rem;
        font-weight: 800;
        text-align: center;
        text-shadow: var(--sombra-texto);

    }

    p {
        font-size: 1.2rem;
        max-width: 45rem;
        text-align: center;
        text-shadow: var(--sombra-texto);
    }
}

.hero::before {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.diferencias {
    width: 100%;
    background-color: #FBFBFB;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-container {
        max-width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        flex-wrap: wrap;
        margin: 0 auto;
        margin: 5rem;

        .card {
            text-align: center;
            max-width: 18rem;

            p {
                color: #333333;
                font-weight: 300;
            }

            img,
            h2,
            p {
                padding-bottom: 0.4rem;
            }

            h2 {
                font-weight: 400;
                font-size: 1.2rem;
            }
        }
    }
}

.nossos-servicos {
    width: 100%;
    padding: 5rem 0rem;

    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
        margin-bottom: 3rem;
    }

    .card-container {
        max-width: 70%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 2.4rem;
        flex-wrap: wrap;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 20rem;
            height: 18rem;
            background-color: white;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 0.4rem;
            transition: transform 0.5s ease;

            img {
                width: 180px;
                height: auto
            }

            p {
                margin-top: 1rem;
                font-weight: 300;
                text-shadow: var(--sombra-texto);
            }
        }

        .card:hover {
            transform: translateY(-10px);
        }
    }
}


.nossa-equipe {
    width: 100%;
    background-color: #FBFBFB;
    padding: 4rem 0rem;

    h2 {
        margin-bottom: 3rem;
        text-align: center;
        font-weight: 300;
        font-size: 2rem;
    }

    .card-container {
        max-width: 70%;
        display: flex;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        flex-wrap: wrap;


        .card {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                margin-top: 0.8rem;
                font-weight: 300;
                font-size: 1.2rem;
            }

            p {
                margin-top: 0.4rem;
                color: #3bb6d1;
                font-size: 0.9rem;
                font-weight: 400;
            }

        }
    }

}