*{
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F8FAFC;
}

header{
    width: 100vw;
    height: 5rem;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0rem 2.5rem 0rem 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0rem 0.4rem 1.8rem 0rem;
}

nav ul {
    display: flex;

    li {
        font-size: 1rem;
        margin-left: 2rem;
        list-style-type: none;
        font-weight: 500;
        color: #555555;
        cursor: pointer;
    }
}